<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>

    <div class="login-container">
        <h1>Forgot Password</h1>
        <form action="{{ url_for('forgot_password') }}" method="post">
            {% if msg %}
            <div class="msg">{{ msg }}</div>
            {% endif %}
            <input id="email" name="email" type="text" placeholder="Enter Your email" class="textbox" required>
            <input type="submit" class="btn" value="Send Reset Link">
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>
</body>
</html>
